<html>
    <head>
        {% if title %}
        <title>{{ title }} New York Musicians </title>
        {% else %}
            <title>New York Musicians</title>
            </head>
        {% endif %}
    <body>
         <div><a href={{ url_for('artists') }}>New York Musicians: </a>
             {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
                  <a href="{{ url_for('new_artist') }}">New Artist</a>
               <a href="{{ url_for('newEvent')}}">Create New Event</a>
                <a href="{{ url_for('newVenue')}}">Create New Venue</a>
                  <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

        </div><hr>
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>

</html>

